﻿
    
<base href="/" />
<script src="~/Scripts/AngularJs/AngularHome.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>


<html>
<body ng-app="homeModule">
    <div id="flex-container" >

        <div class="FlexItem" ng-controller="lookupController">
            <p>Click on to view the use of web API Get Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnLookUpClick()">Look Up</div>
        </div>

        <div class="FlexItem" ng-controller="updateController">
            <p>Click on to view the use of web  API Put Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnUpdateClick()">Update</div>
        </div>

        <div class="FlexItem" ng-controller="registerController">
            <p>Click on to view the use of web API Post Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnRegisterClick()">Register</div>
        </div>

        <div class="FlexItem" ng-controller="deleteController">
            <p>Click on to view the use of web API Delete Method using AngularJs.</p><br />
            <div class="DivButton" ng-click="OnDeleteClick()">Delete</div>
        </div>

    </div>
</body>
</html>
