﻿<div ng-controller="lookupController" style="background-color : white" class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in stdLst">
                <td>{{std.MId}}</td>
                <td>{{std.FName}}</td>
            </tr>
        </tbody>
    </table>
</div>