﻿<div ng-controller="deleteController" style="background-color : white" class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    Name
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in stdLst">
                <td>{{std.MId}}</td>
                <td>{{std.FName}}</td>
                <td>
                    <button ng-click="btnDeleteStd(std)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>