﻿<div ng-controller="registerController" style="background-color : white" class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th><input ng-model="std.Id" class="form-control" /></th>
                <th><input ng-model="std.Name" class="form-control" /></th>
                <th><button class="btn btn-success" ng-click="btnAddStd()"> <span class="glyphicon glyphicon-plus"></span></button></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="std in stdLst">
                <td>{{std.MId}}</td>
                <td>{{std.FName}}</td>
            </tr>
        </tbody>
    </table>
</div>