﻿<base href="/" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/AngularJs/angular-route.min.js"></script>
<script src="~/Scripts/AngularJs/AngularHome.js"></script>
<link href="~/Scripts/CSS/CssHome.css" rel="stylesheet" />


<html ng-app="homeModule">
<body>

    <main ng-view=""></main>
   
</body>
</html>