﻿body {
background-color: black;
}

#flex-container{
    display: -webkit-flex;
    width:800px;
    height:680px;
    -webkit-flex-flow: column wrap;
    align-items:center;
    align-content:center;
    margin-top:5%;
    margin-left:25%;
}


.FlexItem{
    width:300px;
    height:200px;
    background-color:beige;
    margin-top:40px; 
    margin-left:40px; 
    border-radius:10px;
}

#flex-container div p{
    margin-top:40px;
    text-align: center;
    font-family:cursive;
}

.DivButton{
   border-radius:10px;
   width:90px;
   height:20px;
   background-color:burlywood;
   text-align:center;
   margin-left:35%;
   cursor:pointer;
}